
li{
    padding-left:10px;
    padding-right:10px;
    font-size:15px; 
    
}

div{
    background-color:whitesmoke
   
}

nav{
    margin-bottom:50px;
    margin-top: 0px;
}

input.form-control{
    
width:300px;
}

.hello{
    

}

